.container-weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 14px 14px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title feels"
    "title title Humidity"
    "temp clouds wind";
  margin: 20px 0px;
}

.location {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: poppins;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: 250px;
  color: rgb(255, 255, 255);
  background: rgba(65, 65, 65, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.feels {
  grid-area: feels;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgba(65, 65, 65, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.humidity {
  grid-area: Humidity;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgba(65, 65, 65, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.temp {
  grid-area: temp;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgba(65, 65, 65, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.clouds {
  grid-area: clouds;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgba(65, 65, 65, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.wind {
  grid-area: wind;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgba(65, 65, 65, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search {
  display: flex;
  margin: 1rem;
  text-align: center;
}

.search input {
  width: 100%;
  display: flex;
  width: auto;
  padding: 0.8rem;
  border: 2px solid;
  border-color: rgb(40, 40, 40);
  border-radius: 2rem;
  outline: none;
  text-align: center;
  overflow: scroll;
  justify-content: center;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.search::placeholder {
  color: rgb(5, 5, 5);
}