.search {
    display: flex;
    margin: 1rem;
    text-align: center;
}

.search input {
    width: 100%;
    display: flex;
    width: auto;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    text-align: center;
    overflow: scroll;
    justify-content: center;
}

