.pengertian h1 {
    font-size: 70px;
}

.pengertian {
    font-size: 20px;
    color: white;
}
.JudulHis{
    margin-top: 150px;
    margin-bottom: 50px;
}

.DescHis p{
    font-size: 20px;
    color: white;
}