.pengertian h1 {
    font-size: 70px;
}

.pengertian {
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.JudulHis{
    margin-top: 150px;
    margin-bottom: 50px;
    color: #000;
}

.DescHis p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
}