.pengertian h1 {
    font-size: 70px;
}

.pengertian {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: max-content;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.bungkusTulisan {
    width: 130%;
    height: max-content;
}

.bungkusTulisan h1{
    font-size: 50px;
    text-align: center;
}


.footerHistory{
    text-align: justify;
    padding-left: 50px;
}

.bungkusGambarHistory img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.JudulHis{
    color: #000;
    text-align: center;
}

.DescHis p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
}

@media screen and (max-width: 768px) {
    .pengertian p{
        font-size: 100%;
        text-align: center;
    }

    .Toba{
        width: 250%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
    }
    .pengertian {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        color: rgb(0, 0, 0);
    }
    .bungkusTulisan {
        width: 100%;
        height: 50%;
    }
    
    .bungkusTulisan h1{
        font-size: 40px;
        text-align: center;
    }
    
    .footerHistory{
        font-size: 20px;
        text-align: center;
    }
    .bungkusGambarHistory{
        width: 100%;
        height: 150%;
        border-radius: 25px;
    }
    .bungkusGambarHistory img{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .JudulHis h1{
        text-align: center;
        font-size: 40px;
    }

    .bungkusKontenSejarah{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: space-around;
    }

    .kontenSejarah{
        font-size: 150%;
        text-align: center;
    }
    
    .gambarKonten{
        width: 100%;
        height: 100%;
        border-radius: 35px;
    }
    
    .history-content p{
        font-size: 10%;
        text-align: center;
    }
    
    .tempatHis{
        margin-top: 150px;
        color: #000;
        font-size: 50px;
    }
    
}

.Toba{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.bungkusKontenSejarah{
    display: flex;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.bungkusKontenSejarah video{
    border-radius: 35px;
}


.kontenSejarah{
    width: 80%;
}

.gambarKonten{
    width: 80%;
    height: 100%;
    border-radius: 40px;
    margin: 200px 0px 0px 0px;
    display: block;
    align-items: center;
}

.history-content p{
    font-size: 120%;
    text-align: justify;
}

.tempatHis{
    margin-top: 150px;
    color: #000;
    font-size: 50px;
}