.logo {
  width: 40px;
  height: auto;
}

.btn-ghost img {
  display: block;
  transition: all 0.3s ease-in-out;
}

.btn-ghost img:hover {
  transform: scale(1.04);
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(5px 8px 12px #ffffff);
}

#nav {
  background: linear-gradient(rgba(39, 39, 39, 0.67), transparent);
  z-index: 3;
}

#jam {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 36px;
  transition: all 0.3s ease-in-out;
}

#jam:hover {
  color: #ffffff;
  filter: drop-shadow(4px 9px 21px #ffffff);
  cursor: pointer;
}
