.root {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.184);
  background-size: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "Keystone";
  src: local("Keystone") url("./fonts/Keystone.ttf") format("truetype");
}

.navbar {
  padding: 0px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 59%;
  margin-bottom: 80px;
}

.Judul {
  margin: 0 auto;
  font-size: 100px;
  color: rgb(255, 255, 255);
  font-family: "Keystone", serif;
  text-align: center;
  height: fit-content;
  font-weight: 900;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .body {
    overflow-x: auto;
  }

  .img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .title {
    margin: 0 auto;
    font-size: 100%;
    text-align: center;
    font-weight: 900;
    height: 70%;
  }

  .subTitle {
    font-size: 20%;
    height: 50%;
    margin: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    height: 70%;
  }
}
.vid {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.body {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100vw;
  margin-top: 50px;
}

.subTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.subJudul {
  text-align: center;
  font-family: "Keystone", serif;
  font-size: 100px;
  color: rgba(58, 58, 58, 0.966);
}

.img {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.carousel {
  margin-top: 150px;
  width: 100%;
}

.footer {
  margin-top: 0px;
}

.kelompok3 {
  width: 100vw;
  height: 45vh;
  text-align: center;
  font-size: 200%;
  color: black;
}

.ourteam {
  margin-top: 20px;
}
