@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 22, 22, 0.774);
  background-size: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.aspect-video {
  filter: blur(0);
  transition: all 0.3s ease-in-out;
}

.aspect-video:hover {
  opacity: calc(0.7);
  filter: blur(4px);
}
