.bungkus {
  padding: 20px;
}

.video-container {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;

}

iframe {
  border-radius: 30px;
  opacity: 0;
}

.title-daerah {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.478);
  font-family: 'Keystone', serif;
  text-align: center;
}

