.bungkus {
  padding: 20px;
}

.video-container {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.html5-video-player {

}

.title-daerah {
  font-size: 30px;
  color: black;
  font-family: 'Keystone', serif;
  text-align: center;
}

